
<div *ngIf="artist" class="container main-container animated fadeIn fast">

  <div class="row">

    <div class="col-md-3 text-center">
      <img [src]="artist.images | nophoto" class="img-thumbnail img-circle">
      <br>
    </div>

    <div class="col-md-9">
      <h3>{{ artist.name }} <small> Popularity {{ artist.popularity }} </small></h3>
      <hr>
      <a [href]="artist.external_urls?.spotify"
          class="btn btn-outline-success">
          See page
      </a>
      <a [routerLink]="['/search']"
          class="btn btn-outline-danger">
          Go back
      </a>
    </div>

  </div>

</div>


<div *ngIf="tracks" class="container">
  <h3>Top of {{ artist.name }}</h3>
  <hr>

  <div class="col-md-12">

      <div class="table-responsive">

        <table class="table table-inverse table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Photo</th>
              <th>Song</th>
              <th>Popularity</th>
              <th>Preview</th>

            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let track of tracks; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <img [src]="track.album?.images | nophoto" class="img-fluid img-50"
                alt="album photo">
              </td>
              <td>{{ track.name }}</td>
              <td>{{ track.popularity }}%</td>
              <td>
                <iframe [src]="track.uri | domsecure: 'https://open.spotify.com/embed?uri=' " width="300" height="80" frameborder="0" allowtransparency="true"></iframe>

              <!-- ALTERNATIVE OPTION
              <audio controls>
                  <source [src]="track.preview_url">
                  Your browser is very old!
                </audio>
              -->
              </td>
            </tr>
          </tbody>

        </table>


      </div>

  </div>


</div>
